table {
    border-collapse: collapse;
    margin-left: 3em;
}

table, th, td {
   border: 1px solid black;
}

h3, h4 {
  text-indent: 1em;
}

th, td {
	width: 25px;
	text-align: center;
}

.splitTableContainer {
	margin-left: 3em;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	height: auto;
}

.splitTableContainer:after {
	content: "";
    display: block;
    clear: both;
    visibility: hidden;
}

.splitTable {
	float: left;
	margin-top: 0;
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 0;
	height: auto;
}

.removeTopMargin {
	margin-top: 0;
}

.mainDivider {
	height: 1px;
	color: #000000;
	background-color: #000000;
}

.inBetweenDivider {
	border: 0;
	border-bottom: 1px dashed #ccc;
	background: #999;
}